<div class="top-spacer">
  {{#if eventTypesList}}
    <select onchange={{action "setSelection" value="target.value"}}>
      {{#each eventTypesList as |eventType|}}
        <option value={{eventType}} selected={{selectedEventType}}>{{eventType}}</option>
      {{/each}}
    </select>
  {{/if}}
  {{#if filteredEventsList}}
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Event Type</th>
              <th>Created At</th>
              <th>User</th>
              <th>Repo</th>
            </tr>
          </thead>
          <tbody>
            {{#each filteredEventsList as |event|}}
              <tr>
                <td>{{event.eventType}}</td>
                <td>{{moment-format event.createdAt "DD MMMM YYYY HH:mm"}}</td>
                {{#if event.hasUserName}}
                  <td>
                    <a href={{event.userGithubLink}} target="_blank" >
                      {{event.userName}}
                    </a>
                  </td>
                {{else}}
                  <td></td>
                {{/if}}
                <td>{{event.repoName}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  {{/if}}
</div>
